<div class="container polls-page">
  <div class="poll row">
    <div class="col-xs-1">
      <div class="vote up"><span ng-if="downvoted(post)" 
        ng-click="upVotePoll(pollId, upVoted(poll))">&#x25B2;</span></div>
      <div class="vote down"><span ng-if="upVoted(poll)" 
        ng-click="downVotePoll(pollId, downVoted(poll))">&#x25BC;</span></div>
    </div>
    <div class="col-md-9 col-xs-11">
      <div class="info">
        <h3>{{ poll.title }} </h3>
      </div>
      <div>
        <span>submitted by <a href="#/users/{{ poll.owner }}">{{ poll.owner }}</a></span>
      </div>
      <!-- graph goes here -->
      <!-- TODO ng-poll may have to go back to ng-model-->
      <h3>Net Hot: {{ poll.like - poll.dislike }}</h3> 
            
      <div class="row">
        <div class="col-md-6">
          <bar-chart data="poll" height="200" width="400"></bar-chart>
        </div>
        <div class="col-md-6">
          <line-chart data="poll" height="200" width="400"></line-chart>
        </div>
      </div>
      <button ng-click="addLike()" class="btn btn-lg btn-primary">Hot</button>
      <button ng-click="addDislike()" class="btn btn-lg btn-danger">Not</button>



    </div>
    <div class="col-md-2">
  </div>
</div>





<!-- comments -->

    <div ng-repeat="(commentId, comment) in poll.comments" class="row cmt">
      <div class="col-md-12">
        <p>{{ comment.text }}</p>
        <p class="author">posted by <a href="#/users/{{comment.username}}">
         {{ comment.username }}</a></p>
        <a ng-click="removeComment(comment, commentId)" ng-if="signedIn() &&
          comment.username === currentUser.username">(delete)</a></p>
      </div>
    </div>

    <div class="cmt-form">
      <div ng-if="!signedIn()">
        <p><a href="#/login">Sign in</a> to post a comment</p>
      </div>

      <form ng-if="signedIn()">
      <!-- inside an ng-if angular creates a new scope --> 
        <textarea ng-model="$parent.comment.text" placeholder="Post a Comment" 
          class="form-control"></textarea><br/>
        <input type="submit" ng-click="addComment()" value="Post Comment"
          class="btn btn-primary" />
      </form>
    </div>
  </div>